<%-include('partials/_header');%>
   <div class="container">
       <div class="row">
           <div class="col-md-5">
               <div class="card-body">
                   <form action="/add" method="POST">
                       <div class="form-group">
                           <input type="text" name="title" placeholder="Escribe un t&iacute;tulo" class="form-control">
                       </div>
                       <div class="form-group">
                        <input type="text" name="year" placeholder="Escribe un &ntilde;o de 4 d&tilde;igitos" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="category" placeholder="Escribe una categor&iacute;a" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="director" placeholder="Escribe nombre del director" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="actors"  placeholder="Escribe" class="form-control"></textarea>
                    </div>
                       <div class="form-group">
                        <textarea name="description"  cols="80" class="form-control" placeholder="Escribe una descripci&oacute;n"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                   </form>
               </div>
           </div> <!--Boostrap4 usa 12 columnas, 5+7=12-->
           <div class="col-md-7">
               <table class="table table-bordered table-hover">
                   <thead>
                    <tr>
                        <th>N°</th>
                        <th>T&iacute;tulo</th>
                        <th>A&ntilde;o</th>
                        <th>Categor&iacute;a</th>
                        <th>Director</th>
                        <th>Actores</th>
                        <th>Descripci&oacute;n</th>
                        <th>Operaci&oacute;n</th>
                    </tr>
                   </thead>
                   <tbody>
                    <% for(var i=0;i<movies.length;i++){%>
                         <tr>
                             <td><%= i+1%></td>
                             <td><%= movies[i].title %></td>
                             <td><%= movies[i].year</td>
                             <td><%= movies[i].category %></td>
                             <td><%= movies[i].director %></td>
                             <td><%= movies[i].actors %></td>
                             <td><%= movies[i].description %></td>
                             <td>
                                 <a href="/delete/<%= movies[i]._id %>" class="btn btn-danger">Eliminar</a>
                                 <a href="/edit/<%= movies[i]._id %>" class="btn btn-info">Editar</a>
                            </td>
                             
                         </tr>
                         <% } %>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
   <%-include('partials/_footer');%>